<div class="panel gmd ma-panel">
    <div class="panel-body ma-pad-panel">
        <div class="row">
            <div ng-class="$ctrl.layout.facilitator ? 'col-md-4' : 'col-md-12'" style="margin-top: 7px;">
                <gumga-chips placeholder="Buscar Tamanho..." on-remove="$ctrl.removeList(value)"
                             ng-model="$ctrl.selecionados" input-position="start">
                    <gumga-chips-item ng-repeat="item in $ctrl.selecionados" ng-value="item">
                        {{item.name}}
                    </gumga-chips-item>
                    <gumga-chips-option ng-repeat="option in $ctrl.sizes" ng-value="option">
                        {{option.name}}
                    </gumga-chips-option>
                </gumga-chips>
                <br>
                <button class="btn btn-primary" ng-class="$ctrl.layout.floatRightButton ? 'pull-right' : ''"
                        ng-hide="$ctrl.generate.length > 0"
                        ng-click="$ctrl.addList($ctrl.selecionados)">Inserir Tamanhos
                </button>
            </div>
            <div class="col-xs-6 col-md-4" ng-show="$ctrl.layout.facilitator">
                <gmd-input>
                    <input type="text" class="form-control gmd" ng-disabled="$ctrl.blockInput == false"
                           ng-model="$ctrl.cost" id="name">
                    <span class="bar"></span>
                    <label for="name" class="control-label">cost</label>
                </gmd-input>
            </div>
            <div class="col-xs-6 col-md-4" ng-show="$ctrl.layout.facilitator">
                <gmd-input>
                    <input type="text" class="form-control gmd" ng-disabled="$ctrl.blockInput == false"
                           ng-model="$ctrl.sale" id="sale">
                    <span class="bar"></span>
                    <label for="sale" class="control-label">sale</label>
                </gmd-input>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="obj in $ctrl.generate">
    <div class="panel gmd ma-panel" style="min-height: 123px;">
        <div class="panel-body ma-pad-card">
            <div class="row reset-height">
                <div class="ma-no-pad-left text-center" ng-class="$ctrl.layout.bars ? 'col-md-1' : 'col-md-2'">
                    <label class="ma-label-grid">
                        <span class="bigger">{{obj.name}}</span>
                        <span ng-show="obj.colors.length > 0" class="less">Cores</span>
                        <span ng-show="obj.colors.length > 0" class="less">{{obj.colors.length}}</span>
                    </label>
                </div>
                <div ng-class="$ctrl.layout.bars ? 'col-md-5' : 'col-md-10'">
                    <div style="margin-top: 15px;">
                        <gumga-chips placeholder="Buscar Cor..." item-focused="focusedColor"
                                     on-remove="$ctrl.removeListColor(value, $index)"
                                     on-selected="$ctrl.generateBars(value, $index)"
                                     ng-model="obj.colors" input-position="start">
                            <gumga-chips-item ng-repeat="item in obj.colors" ng-value="item">
                                {{item.name}}
                            </gumga-chips-item>
                            <gumga-chips-option ng-if="option.name !== obj.colors[$index].name"
                                                ng-repeat="option in $ctrl.colors" ng-value="option">
                                {{option.name}}
                            </gumga-chips-option>
                        </gumga-chips>
                        <a class="ma-grid-link" ng-hide="!obj.colors.length == 0 || $ctrl.checkPrevious($index)"
                           ng-click="$ctrl.copyColors($index)">Copiar cores do tamanho anterior</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" ng-repeat="color in obj.colors">

                        <div class="col-md-5 ma-no-pad-left" style="margin-top: 15px;"
                             ng-if="color.id == focusedColor.id && $ctrl.layout.qtdColor">
                            <div class="qtdClass">
                                <gmd-input>
                                    <input type="text" class="form-control gmd" ng-model="color.qtdColor" id="qtdColor"
                                           required>
                                    <span class="bar"></span>
                                    <label for="qtdColor" class="control-label">Quantidade</label>
                                </gmd-input>
                            </div>
                        </div>

                        <div ng-repeat="bar in obj.colors[$index].bars"
                             ng-if="color.id == focusedColor.id && $ctrl.layout.bars">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-remove ma-remove-grid" ng-if="!$first"
                                      ng-click="$ctrl.removeBarCode($parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$index,bar)"></span>
                            </div>
                            <div class="col-md-6" style="margin-top: 25px;">
                                <div>
                                    <gmd-input>
                                        <input type="text" class="form-control gmd" ng-model="bar.value" id="codBarras"
                                               required>
                                        <span class="bar"></span>
                                        <label for="codBarras" class="control-label">Cód. Barras</label>
                                    </gmd-input>
                                </div>
                            </div>
                            <div style="margin-top:10px;">
                                <div class="col-md-3">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd" ng-model="bar.cost" id="intcost">
                                        <span class="bar"></span>
                                        <label for="intcost" class="control-label">cost</label>
                                    </gmd-input>
                                </div>
                                <div class="col-md-2">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd" ng-model="bar.margin"
                                               id="intmargin">
                                        <span class="bar"></span>
                                        <label for="intmargin" class="control-label">margin</label>
                                    </gmd-input>
                                </div>
                                <div class="col-md-3">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd" ng-model="bar.sale" id="intsale">
                                        <span class="bar"></span>
                                        <label for="intsale" class="control-label">sale</label>
                                    </gmd-input>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="$ctrl.layout.bars">
                            <div class="col-md-12" ng-if="color.$$hashKey == focusedColor.$$hashKey">
                                <a class="pull-right ma-grid-add-barcode "
                                   ng-click="$ctrl.addBarCode($parent.$parent.$index,$index)">Adicionar Cód. Barras</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>